@model UserJourney.Repositories.EF.ViewModel.ForgotPasswordViewModel
@using UserJourney.Core.Constants
@{
    ViewBag.Title = @Resources.ForgotPassword;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper login-page">
    <div class="login-inner">
        <div class="login-block">
            <div class="login-header" style="text-align: center; font-size: 30px;">
                @Resources.User @Resources.ForgotPassword
            </div>
            @using (Html.BeginForm(Actions.ForgotPassword, Controllers.UserController, FormMethod.Post, new { id = "frmForgotPassword", @class = "login-form default-form" }))
            {
                <div id="divMessage"></div>
                <div class="form-group">
                    <label>Please enter your registered email. A link will be sent to your registered email address which will let you reset your password and it is valid for 30 minutes.</label>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Email):
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", autocomplete = "off" })
                    @Html.ValidationMessageFor(x => x.Email, "", new { @class = "form-validation" })
                </div>
                <button type="submit" class="btn btn-primary">Send Link</button>
                <div style="float:right">
                    <button type="button" class="btn btn-outline-primary" onclick="OnLogin()">@Html.Raw(Resources.Cancel)</button>
                </div>

            }
        </div>
    </div>
</div>

