@model UserJourney.Repositories.EF.ViewModel.ResetPasswordViewModel
@using UserJourney.Core.Constants
@{
    ViewBag.Title = Resources.ResetPassword;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper login-page">
    <div class="login-inner">
        <div class="login-block">
            <div class="login-header" style="text-align: center; font-size: 30px;">
                @Resources.User @Resources.ResetPassword
            </div>
            @if (!ViewBag.HasError)
            {
                @using (Html.BeginForm(Actions.ResetPassword, Controllers.UserController, FormMethod.Post, new { id = "frmResetPassword", @class = "login-form default-form" }))
                {
                    <div id="divMessage"></div>
                    @Html.HiddenFor(x => x.UserId)
                    <div class="form-group">
                        @Html.LabelFor(x => x.OldPassword):
                        @Html.TextBoxFor(x => x.OldPassword, new { @class = "form-control", type = "password", autocomplete = "off" })
                        @Html.ValidationMessageFor(x => x.OldPassword, "", new { @class = "form-validation" })
                    </div>
                    <div class="form-group">
                        @Html.Label("New Password")
                        @Html.TextBoxFor(x => x.Password, new { @class = "form-control", type = "password", maxLength = "20", id = "password", autocomplete = "off" })
                        @Html.ValidationMessageFor(x => x.Password, "", new { @class = "form-validation" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Confirm New Password")
                        @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", type = "password", maxLength = "20", autocomplete = "off" })
                        @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "form-validation" })
                    </div>
                    <button type="submit" class="btn btn-primary">@Html.Raw(Resources.Save)</button>
                    <div style="float:right">
                        <button type="button" class="btn btn-outline-primary" onclick="OnDashboard()">@Html.Raw(Resources.Cancel)</button>
                    </div>
                }
            }
            else
            {
                <div class="login-form text-center">
                    <span>
                        @SystemMessage.ErrorOnTakingUserInfo
                    </span>
                </div>
            }
        </div>
    </div>
</div>
